#add-roster-row {
    display: flex;
    justify-content: center;
    margin: 24px 0;

    > .inner {
        // background-color: #ececec;
        background-color: rgba(63,81,181, .1);
        padding-left: 32px;
        border-radius: 32px;
        > div {
            margin: 0 4px;
        }
        > button, > button:active {
            margin-left: 16px;
            box-shadow: none;
            font-size: 42px;
        }
    }
}